石中之王  熠熠生輝
訪深圳市龙岗三联水晶玉石文化协会会長郑庆明先生
守一颗匠心 做一个匠人
“何为匠人?”即慢工出细活。由单纯的手工经过铁杵磨针的历练,在执著于一件事时把专注、思考带入其中,久而久之,水滴石穿。玉石雕刻能手郑庆明先生对“匠人”如此理解一一将一件事做到极致便是匠人。
郑庆明先生祖籍福建福州一一寿山石主要产地之一。他的身边都是石雕爱好者,“天时、地利、人和”,得天独厚的生活环境让他离玉石的雕刻更近了一步,因此在学校学了烹饪,并在毕业后从事厨师工作短短一年之后,他毅然选择了玉石雕刻。担任掌勺厨师时,胡萝卜是他最主要的雕刻对象,从简单的笑脸、花瓣,到各种各样的小动物,都是他的拿手好戏。在日复一日地练习中,郑庆明先生的雕刻手法娴熟,巧思不断。
1986年,郑庆明先生一心钻研玉石雕刻,进入寿山石雕刻行业学习及创作。1993年,他被一名台湾老板“看中”,招聘到开设在深圳布吉的新华玉雕厂。蹒跚学步,是寿山石雕刻学徒的生涯拉开了他奋斗的序幕。天道酬勤、埋头苦干、努力向上、专一用心的态度让他迅速成长起来。三年之后,郑庆明先生己经可以出师,自立门户,他在布吉牛嶺吓开起了自己的玉石加工厂,并在罗湖有了自己的专卖店,正式开始了自己的创业之路。
1999年于三联开办玉雕厂,专营缅甸天然翡翠,包括毛料原石采购、雕刻、抛光、成品销售,并创立了自己的玉石品牌一一珏美东艺,先后授徒几十人。其玉雕厂出售的产品均由自己或徒弟设计加工而成,郑庆明先生更是个中能手。
玉石雕刻在许多人看来是一件特别枯燥无味的事情,它需要静心耐心、决心和精心,静下心来耐心雕刻,下定决心精心将雕刻这件事做到极致,秉持这“四心”,郑庆明先生乐此不疲,由单纯的手工经过铁杵磨针般的历练,重复执著于一件事,并把专注、思考带入其中,久而久之,水滴石穿,成就了他这位玉雕名家。
灵气盎然 独一无二
“为何许多人都钟情于“私人订制?”是因为独一无二,凝聚着的是定制者与制作者的思想理念和情怀温度,有特定的意义郑庆明先生对独一无二的诠释是一一质有保障,灵气盎然。
玉,石之美者,石中王者。玉石表面温润光滑,集晶莹、明洁、美丽于一体,寓意健康和长寿。中国人自古以来对玉情有独钟,因为在国人心中,玉是自然的象徴,它集聚着天、地、虹、日、月的精华,同时也具备了人类所向往的所有的美好的品性,温文、宁静、含蓄、纯净、坚贞和正气,国人把玉看作了民族的精魂。
而如今,随着经济的发展,人们生活水平的提高,人们对于玉石的喜爱越盛,追求越来越高,越来越向往“私人订制”,只因私人订制,是独一无二,凝聚着定制者与制作者的思想理念和情怀温度,有特定的意义。二是品质有保障,纯手工打造,耐看、耐用。越是贵重有品味的物品,越注重私人订制
在玉石行业二十多年,郑庆庆明先生深有体会。二十多年来,他用满脑子天马行空的创意和精湛的加工绝活,创作了一件件精美的、独一无二的玉石精品。他亦说玉石行业这么多年,最让他自豪和收获最大的便是那些经过精雕细琢后独一无二的作品。
每一件经由郑庆明先生之手雕刻的玉石,都注入了他满腔的心血,并非常细致,于细微处考验出真水平,该舍时毫不犹豫地舍去含有杂质或多余的地方,该留时,亦努力地不破坏原本的美。他常常思考的是如何创作出精品,每得到一块好的原石,他都倍加珍情,成竹在胸时动手雕琢,他将所有的功力都集聚在手中,“稳”是他雕刻过程中最大亦是最基本的特点。所谓稳,即稳拿雕刻器械,老道的雕刻展现在每一件作品之中。
郑庆明先生说: “其实雕刻的作品无需很多,唯以“满意”二字为标准。”现在,新鲜元素十足的玉器店“珏美东艺”每月都有新产品出品,郑庆明先生计划将自己设计、雕刻的作品集结在一起,出版作品集,打造属于玉雕的文化底蕴。
真诚无伪 内心无愧
诚信是什么?是商人的命脉,是企业的形象和招牌,如熠熠生辉的宝石。在郑庆明先生看来,做生意,最重要的一点是诚信,那是比玉石更宝贵,比生命更重要的东西。
从1993年至今二十多年,郑庆明先生一路走来,从零开始,白手起家,一点点积累经验,一点点累积创业基金,为了理想,不辞辛苦,不懈奋斗,顶着巨大的压力,一步步靠近理想。
在奋斗的年岁里,郑庆明先生的脚印横向延了二十余年,从学徒到资深玉石商、玉石雕刻大家;纵向延伸了上千公里,从福建到深圳创业,再到缅甸采购翡翠原料;从走眼练到神眼,专业的知识、丰富的实践经验得到了提升。
郑庆明先生说:“刚入行日时也曾吃过亏,买到过假货,但是现在:基本上不会了。”吃过亏之后,他开始到各地看毛料、拜访专家,恶补有关玉石的专业知识,2002年,他已经炼就了一双看料极准的“神眼”,富含创意的大脑与一份先见之明。早些年,在墨翠还未被人看好、未被人欣赏的时候,他就开始研究墨翠了,并将自己买下的四十多公斤墨翠变成数十个精美的动物、佛像等玉雕,卖出了不菲的价钱。此后,他几乎从未失手过。而其出售的玉石亦以“无假货”著称,“珏美东艺”荣获“诚信经营店”美誉。
二十多年的玉石历程,郑庆明先生更深知一个道理一一在这个行业,比玉石更珍贵的是诚信。他说:“做生意,诚信当然是放在第一位的。诚信二字看起来简单,但是做起来并不容易,它是做人做事的根本,唯有坚守了诚信二字,生意才会越做越大,客人源源不断。”郑庆明先生看重玉的品质,更看重人的品质,诚信做事,诚信做人,历经二十多年时间的冲刷,最终沉淀下来,成为宝石,成为“珏美东艺”的招牌,成为一种比生命更重要的东西,让自己在事业中做到问心无愧!
怀一份责任 系行业发展
何为责任？责任是一种与生俱来的使命,是生命价值的体现,每个人来到这个世界都承担着一定的责任。对于郑庆明先生而言,凝聚玉石商家、藏友,传播三联玉石,形成以玉石为主题的多元化交流平台,就是他的责任。
1993年,吴正麟、许武城两位台湾水晶玉石商人来到三联村,建起了水晶玉石加工作坊,那时的三联村还是一个名不见经传的地方,2002年,郑庆明先生将加工厂搬到布吉三联村。2006年,随着玉石店的增加,三联玉器街成立、店铺、工厂逐渐正规化,三联的水晶玉石市场具有了一定规模,带动了这片地区整体的发展。这里能工巧匠云集,熠熠生辉、堪称“深圳玉都”,是深圳最早的文化产业基地之
2006年3月,为加强三联玉石街的鉴定设计,加工优化,拍卖及流通,技术和市场交流,知识普及推广工作,吴正麒,许武城,任喜明,郑庆明共十多人发起成立三联水晶玉石文化协会。郑庆明先生现担任三联水晶玉石文化协会会长。
2004年,深圳文博会创立,成为展示文化改革发展成果、促进中外文化交流合作的亮丽名片,至今举办十三届。2006年,三联水晶玉石文化村作为文博会分会场,隆重开幕,至今已举办十一届,获得“万商云集”称号。郑庆明先生说:“三联因玉而名,因玉而兴,在呼唤工匠精神的当代,三联的玉雕工匠始终是文博会三联分会场打造的文化名片,在文化发展的大背景下,玉雕作为三联玉文化产业的根基,工匠精神始终是文化产业发展不灭的主题,我们希望三联的工匠精神能够在新一代的青年玉雕匠人身上落地生根、汩汩流淌,并让它在文博会的舞台上耀眼发光。
这么多年来,作为三联玉石街的行尊、三联水晶玉石文化协会的主要发起人、现任会长的郑庆明先生一直关注着三联水晶玉石行业的发展,在整个行业的高低起伏中,不断变化,攻坚克难,持之以恒。他敏锐地把握市场热点,行情长期和短期的转折点,体察消费需求的微妙变化,来应对行业的变迁。并保持着与香港玉石行业的交流,引进好的模式。面对当下的行业面临的压力与挑战,他提议“创办行业培训机构,继续与学院合作,设立‘玉雕学校’,培训雕刻人才;创办检测机构;推出“诚信经营”授牌制度,激励会员诚信创业,进一步优化三联市场;增设三联地标,加强三联专注、专业的社会形象,加强宣传,将三联玉雕师从幕后推至台前;继续慈善事业,提高三联社会责任感与美誉度
将三联玉石街打造成一种文化的象徴,是郑庆明先生的理想,亦是他努力的方向。他将继续努力,积极应对整个行业发展过程中所面临的危机和挑战,增强发展信心,以创新缔造行业明天。
